@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --block-count: 3;
  --scrollbar-length: 10px;
  --primary: #0d0e17;
  --secondary: #1a1c2e;
  --primary-transparent: #0d0e17c0;
  --my-title-font-size: 1.25rem;

  --project-item-width: clamp(40rem, 70vw, 84rem);

  --border-radius: 14px;
}

::-webkit-scrollbar {
  z-index: 9999;
  height: var(--scrollbar-length);
  width: var(--scrollbar-length);
  background-color: var(--secondary);
}

::-webkit-scrollbar-corner {
  background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1vw 1vw 1vw 1vw;
}

html {
  color: white;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw !important;
  height: 100vh !important;
  background: var(--primary) !important;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 10px;
}

.block {
  color: white;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 6em;
}

#nav-email {
  align-self: center;
  flex-grow: 1;
}
#nav-email > div {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#nav-email > div * {
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
  line-height: 1;
}
#copy-email {
  margin-left: 0.25em;
  font-size: 1.4em;
}

#email {
  display: none;
}
#email > a {
  color: #7acaff;
  margin: 0;
}

#intro {
  height: calc(100vh + 1px);
  flex-direction: row;
}

.header-btn {
  align-self: center;
  margin: 0;
  margin-left: 1em;
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cacaca;
  background-color: var(--primary-transparent);
  width: fit-content;
  height: 2.5em;
  padding: 0.3em 0.75em;
  box-sizing: content-box;
  border: none;
  border-radius: calc(var(--border-radius) * 0.75);
  transition: background-color 0.15s ease, color 0.15s ease, opacity 0.25s ease;
  opacity: 1;
}
.header-btn:hover {
  color: white;
  background-color: #262944;
  outline: 1.5px solid var(--primary);
}
#clear-canvas.fade {
  opacity: 0;
}

#paint-canvas-container {
  /* blur-radius | spread-radius */
  --shadow-blur: 80px;
  --shadow-spread: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  transform: translateZ(-5px) scale(1.5);
  animation: fade-in 1.5s ease;
}
#paint-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
/* bottom shadow */
#paint-canvas-container::after {
  content: "";
  position: absolute;
  pointer-events: none;
  height: 200%;
  width: 200vw;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0px 0px var(--shadow-blur) var(--shadow-spread) var(--primary);
  transform: translateX(-50vw) translateY(calc(-50% + 1px));
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#me-img {
  margin: 2em;
  margin-bottom: 0;
  width: 200px;
  border-radius: 50%;
  pointer-events: none;
}

#im,
#my-title,
#me-img {
  user-select: none;
}

#im,
#my-name {
  text-shadow: 2px 2px 10px var(--primary);
}
#my-title {
  text-shadow: 1px 1px 1px black;
}

h1,
#my-name {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

#im {
  margin: 0;
  font-size: 2rem;
  color: #b4b4b4;
  transform: translateY(0.5em);
}
#my-title {
  --animation-time: 1060ms;
  line-height: 85%;
  color: var(--color);
  font-family: monospace;
  font-size: calc(16px * 1.25);
  position: relative;
  margin: 0;
  margin-left: 2rem;
  white-space: nowrap;
  width: fit-content;
}
#my-title::after {
  content: "";
  position: absolute;
  /* center vertically */
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: -0.5px;
  width: 1px;
  height: 135%;
  background: var(--color);
  animation: cursor-blink var(--animation-time) steps(2, end) infinite;
}
#my-title:empty::before {
  content: "";
  display: inline-block;
}
@keyframes cursor-blink {
  0%,
  50% {
    opacity: 0;
  }
  50.0001%,
  100% {
    opacity: 1;
  }
}
.robotics {
  animation: typewriter-robotics 6s steps(19, end) 0s 1 forwards;
}
/* my-title Animation */
@keyframes typewriter-robotics {
  0% {
    width: 0;
  }
  55%,
  80% {
    width: 208.94px;
  }
  100% {
    width: 0;
  }
}
.student {
  animation: typewriter-student 6s steps(15, end) 0s 1 forwards;
}
/* my-title Animation */
@keyframes typewriter-student {
  0% {
    width: 0;
  }
  55%,
  80% {
    width: 164.95px;
  }
  100% {
    width: 0;
  }
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-top: 1rem;
}

#languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5em;
  width: 20em;
}

#languages > * {
  margin: 0.1em;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background: var(--secondary);
  border-radius: calc(var(--border-radius) / 2);
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#JS {
  background: #f7df1e;
}
#React {
  background: #6dfaff;
}
#CS {
  font-weight: normal;
  /* color: white; */
  background: linear-gradient(to right, #902fa8, #bd4bda);
}
#Java {
  background: #e32c2d;
}
#Kotlin {
  background: linear-gradient(to right, #b05eae, #f1850c);
}
#Python {
  /* background: linear-gradient(to top right, #396ea0 50%, #ffd344 50%); */
  background: #f2c938;
}
#Cpp {
  /* color: white; */
  background: linear-gradient(to right, #1686f0, #76b3f3);
}
#SQL {
  background: #ffffff;
}
#Git {
  background: #e84d31;
}

#Projects .item-container {
  text-align: center;
}

#Projects .item-media {
  width: var(--project-item-width);
  overflow: hidden;
}

.git-btn {
  margin: 1em;
  margin-bottom: 0;
  margin-left: auto;
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--primary);
  width: fit-content;
  height: 2.5em;
  padding: 0.25em 0.75em;
  border-radius: calc(var(--border-radius) * 0.75);
  transition: background-color 0.15s ease;
}
.git-btn:hover {
  background-color: #262944;
  outline: 1.5px solid var(--primary);
}
.git-btn > img {
  padding-left: 0.5em;
  height: 70%;
  width: auto;
}

/* CANVAS */
#canvas-container {
  --box-shadow-length: 18px;
  position: relative;
  width: 80vw;
  height: 40rem;
  cursor: crosshair;
  overflow-x: hidden;
  border-radius: var(--border-radius);
}

#canvas-container::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  /* width: 102%; */
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0px 0px var(--box-shadow-length) var(--box-shadow-length) var(--secondary);
  /* transform: translateX(-1%); */
  overflow-x: hidden;
  transition: box-shadow 0.5s ease;
}

#canvas-container:hover {
  --box-shadow-length: 9px;
}

#population-map {
  height: 45vh;
  pointer-events: none;
}
#population-map.focus {
  outline: 1px solid #0099ff;
  pointer-events: auto;
}

#flocking-sim {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  background-color: var(--background-color);
  transition: background-color 0.5s ease;
}
#flocking-sim.focus {
  outline: 1px solid #0099ff;
  pointer-events: auto;
}
#flocking-sim-container {
  max-height: 45vh;
  line-height: 0;
  border-radius: inherit;
  --background-color: initial;
}
#flocking-sim-container:hover {
  --background-color: hsl(234, 28%, 6%);
}

#lcchs-name {
  font-size: 0.85em;
}

#Awards > div > span > p:nth-child(3) > u {
  font-size: 0.85em;
}

.project-title-container {
  display: grid;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  justify-items: center;
  width: 100%;
}
.project-title {
  grid-column-start: 2;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1em;
}
.project-description {
  text-align: center;
  font-size: 1rem;
  margin: 1em;
}
.project-description p {
  margin: 0;
}

.item-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  background: var(--secondary);
  /* padding: 1.25em 1.75em; */
  padding: 0;
  border-radius: var(--border-radius);
}
.column {
  flex-direction: column;
}
.item-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0;
}
.item-date {
  font-size: 0.85em;
  margin-top: 0.25em;
}
.item-media {
  height: auto;
  border-radius: var(--border-radius);
  box-shadow: 0px -4px 16px 0px var(--primary);
}
.item-container.justify-left,
.item-container.justify-right {
  /* width: 58.5em; */
  width: clamp(45em, 80vw, 58.5em);
}
.item-container.justify-left {
  justify-content: left;
}
.item-container.justify-right {
  justify-content: right;
}
.item-container.justify-right > span {
  text-align: right;
  list-style-position: inside;
}
.item-container > span:not(.project-description) {
  margin: 0 2em;
}

#Education p.item-title > b > span {
  font-size: 0.85em;
}

#Projects .section-title {
  width: 70vw;
}
.section-title {
  padding: 0 0.5em;
  width: clamp(45em, 80vw, 58.5em);
}
.section-title > h2 {
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
}
.section-title > h2 + p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.8rem;
  font-style: italic;
  color: #b1b1b1;
}
.section-title > hr {
  margin-left: 0;
  width: 0%;
}
.section-title > hr.animate {
  animation: line-animation 1.25s ease forwards;
}

@keyframes line-animation {
  to {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  #im {
    margin-top: 1em;
  }
  #intro {
    flex-direction: column;
  }
  .header-btn {
    width: min-content;
  }
  #nav-email {
    display: none;
  }
  #email {
    display: initial;
  }
  [class*="item-media"]:not(#me-img):not(#canvas-container):not(iframe) {
    max-width: 100%;
    max-height: 250px;
    width: auto;
    height: auto;
    margin: auto;
    box-shadow: -40px 0px 50px -8px var(--primary-transparent), 40px 0px 50px -8px var(--primary-transparent);
  }
  img[class*="item-media"]:not(#me-img):not(#Projects img[class*="item-media"]) {
    margin-bottom: 2rem;
  }
  .right-text + .item-media {
    order: -1;
  }
  #canvas-container::after {
    --box-shadow-length: 12px;
  }
  #canvas-container:hover {
    --box-shadow-length: 6px;
  }
  .item-container {
    flex-wrap: wrap;
    width: 100%;
    max-width: 90vw;
  }
  .item-container > span {
    text-align: left;
    align-self: center;
    list-style-position: initial;
  }
  .item-container.justify-left,
  .item-container.justify-right {
    justify-content: flex-start;
  }
  #Projects .section-title,
  .section-title {
    width: 100%;
  }
  .project-description {
    max-width: 32em;
  }
  #population-map,
  #canvas-container {
    max-width: 100%;
    width: 100% !important;
  }
  #canvas-container {
    max-height: 100%;
  }
  #languages {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 16em;
  }
}

#tag {
  text-align: center;
}
#tag > * {
  margin: 0.5em;
}
#tag > :last-child {
  padding-bottom: 1em;
}
