#zoom-slider {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  max-width: 40em;
  margin-top: 29px;
  -webkit-appearance: none;
  background: transparent;
}
#zoom-slider:after {
  content: "zoom slider";
  color: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
  font-size: 1.1em;
}
#zoom-slider:focus {
  outline: none;
}
#zoom-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  /* box-shadow: 2px 2px 20px #000000; */
  background: rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  border: 0px solid #010101;
}
#zoom-slider::-webkit-slider-thumb {
  box-shadow: none;
  border: 2px solid #ffffff;
  width: 26px;
  height: 18px;
  margin-top: -7.5px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  -webkit-appearance: none;
}
#zoom-slider::-webkit-slider-thumb:hover {
  height: 24px;
  margin-top: -10px;
  box-shadow: none;
  background: rgba(255, 255, 255, 1);
  transition: height 100ms ease-out, margin-top 100ms ease-out;
}
#zoom-slider::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
#zoom-slider::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 20px;
  width: 22px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
#zoom-slider::-moz-focus-outer {
  border: 0;
}

.top-right-settings {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* checkboxes */
.canvas-setting > label {
  text-shadow: black 1px 1px 2px;
  font-size: 1.1em;
  color: white;
}
.canvas-setting > label > input {
  transform: translateY(1px);
}

#fullscreen-button,
#large-screen-button {
  margin-top: 0.5em;
  font-size: large;
  color: white;
  background-color: #00000080;
  outline: none;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.877);
  line-height: 0;
  padding: 0.5em;
  cursor: pointer;
}

#fullscreen-button:hover,
#large-screen-button:hover {
  background-color: #313131a8;
}
